
.jsopenxml-spreadsheet {

}

.jsopenxml-spreadsheet .middle {
    padding-right: 20px;
    position: relative;
}

.jsopenxml-spreadsheet .jsopenxml-worksheet-container {
    min-height: 450px;
    position: relative;
}

.jsopenxml-spreadsheet .jsopenxml-worksheet-container .jsopenxml-worksheet {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.jsopenxml-spreadsheet .bottom-bar {
    margin-right: 20px;
    height: 20px;
}

.jsopenxml-spreadsheet .bottom-bar .jsopenxml-tabbar-container{
    width: 70%;
    display: inline-block;
}

.jsopenxml-spreadsheet .bottom-bar .jsopenxml-horizontal-slider-container{
    width: 30%;
    display: inline-block;
}

.jsopenxml-spreadsheet .jsopenxml-vertical-slider-container {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
